#container { 
    background-color: #4DB6AC;
    padding: 10px;
    width: 600px;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;

}
p{
    background-color: #E1BEE7;
    width: 250px;
    margin: 10px;
}
ul {
    list-style: none;
    width: 250px; 
    padding: 0;
    margin: 10px;
    background-color: #FFD54F;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}
li {
    background-color: #F06292;
    width: 100px;
}